<div class="container new-project-heading"><h3>Forgot your password?</h3>
</div>
<div class="container">
	<div class="new-form">
	    <div class="new-form-hints-frgpass">
			<p><small>Fill in the following form to reset your email.</small></p>
		</div>
		<hr />
		  <div class="field">
		    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
		  </div>
		<hr />
		  <div class="actions">
		  	<div class="new-form-hints">
	    		<p><small>Further password reset instructions will be sent.</small></p>
			</div>
		    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
		  </div>
		<% end %>
	</div>
</div>
