<% @posts.each do |post| %>
	<h4><%= link_to post.title, post_path(post) %></h4>
	<%= post.description %><br />
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
<% end %>
