<div id="wrap">
	<div id="container-wrap">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-xs-6 col-sm-3">
	<!-- up there -->
					<div class="post">
						<div class="image">
							<%= image_tag post.image, class: "image" %>
						</div>
						<div class="project-type">
						<div class="avatar">
							<%= link_to post.user.username, user_path(post.user, @user)%>
						</div>
						<span class="glyphicon glyphicon-user" aria-hidden="true"> <%= post.get_upvotes.size %></span>
						</div>
					</div>

				</div>
			<% end %>
		</div>
	</div>
</div>
